<div  ng-controller="abstractController">

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">

				<li class="nav-item">
					<a class="nav-link" ng-click="initial()">Duelo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="partida()">Partida</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="historico()">Historico</a>
				</li>
			</ul>
		</div>
	</nav>

</div>